

<div class="row">
    <div class="col">
        <p>
            Hola! Soy Viry Bernal CEO, diseñadora y baker en Happy Nibble, amo hornear pasteles, galletas, cupcakes y convertirlos en arte comestible para ti.
        </p>
        <p>
            Creo que el ingrediente más importante de un pastel es la creatividad.
        </p>
        <p>
            💜
        </p>
        <p>
            ¡Bienvenido a Happy Nibble!
        </p>
    </div>
    <div class="col"></div>
</div>



