<!-- <h2>Nuestras Especialidades</h2> -->
<div class="row">
    <div class="col contenedor-imagen">
        <img src="assets/images/gallery/happy_nibble_bisquit.jpg" alt="">
    </div>
    <div class="col">
        <p>
            Pero Happy Nibble es mucho más que pasteles de fondant. Nuestra oferta se extiende a una amplia variedad de
            dulces tentaciones, como galletas y cupcakes, elaborados con ingredientes de la más alta calidad y decorados
            con minucioso detalle. Cada bocado es una explosión de sabor y una experiencia sensorial única.
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col spec-ele1">
            <h3>Celebraciones a tu medida</h3>
            <p>
                Entendemos que cada evento es especial y merece un toque personal. Por eso, ofrecemos servicios de
                catering a medida, diseñando mesas de dulces que se adaptan a cualquier temática y presupuesto. Desde
                bodas y cumpleaños hasta eventos corporativos, nos encargamos de crear momentos inolvidables.
            </p>
        </div>
        <div class="col spec-ele2">
            <h3>Compartimos nuestra pasión</h3>
            <p>
                Nuestra pasión por la pastelería va más allá de la creación. Queremos compartir nuestros conocimientos y
                habilidades con otros amantes de los dulces. Es por eso que ofrecemos cursos de pastelería creativa,
                donde enseñamos técnicas y trucos para que puedas crear tus propias obras de arte en casa.
            </p>
        </div>
        <div class="col spec-ele1">
            <h3>
                Mesas de Dulces
            </h3>
            <p>Además, organizamos eventos corporativos donde la pastelería se convierte en una herramienta para
                fomentar la creatividad y el trabajo en equipo.</p>
        </div>
        <div class="col spec-ele2">
            <h3>
                Cursos
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nostrum quo animi debitis aliquam minima
                sit ex quibusdam quam pariatur harum dolores quisquam, ut, deserunt at aut soluta iure exercitationem!
            </p>
        </div>
    </div>
</div>