<div class="row justify-content-end">


  <div class="header-bar">
    <div class="over-header">
      <p>This is an example of a banner</p>
    </div>
    <header class="row align-items-center justify-content-evenly d-flex flex-wrap pt-1 pb-3">

      <div class="logo col-4">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
          <img src="/assets/images/happyNibbleLogo.jpg" alt="">
          <span class="title fs-5">Happy Nibble</span>
        </a>
      </div>

      <div class="main-menu col-5">
        <main-menu class="nav nav-pills"></main-menu>
      </div>

      <div class="social col-2">
        <a href="">
          <i class="bi bi-instagram me-2"></i>
        </a>
        <a href="">
          <i class="bi bi-facebook me-2"></i>
        </a>
        <a href="">
          <i class="bi bi-whatsapp"></i>
        </a>
      </div>

    </header>
  </div>

</div>
