<div class="home-banner">
  <banner></banner>
</div>

<div class="container my-5 p-6">

  <div class="row our-story p-4">
    <div class="col p-2" >
      <h2>Sobre Nosotros</h2>
      <our-story></our-story>
    </div>
  </div>

  <div class="row my-6 p-4">
    <div class="col p-2">
      <h2>Nuestras especialidades</h2>
      <specialties></specialties>
      
    </div>
  </div>

  <div class="row p-4 valores">
    <div class="col-5 p-2">
      
      <h2>
        Valores que nos definen
      </h2>
      <p>
        En Happy Nibble, creemos en:
      </p>
      <ol>
        <li><span>La calidad: Utilizamos ingredientes frescos y de la más alta calidad para garantizar el sabor y la
            textura de nuestros productos.</span></li>
        <br>
        <li><span>La creatividad: Cada creación es única y personalizada, diseñada para sorprender y emocionar.</span>
        </li>
        <br>
        <li><span>La pasión: Amamos lo que hacemos y se nota en cada detalle.</span></li>
        <br>
        <li><span>La cercanía: Nos encanta conectar con nuestros clientes y hacer que se sientan especiales.</span></li>
      </ol>
    </div>
    <div class="col-7 p-2 contenedor-imagen">
      <img class="img-fluid" src="assets\images\gallery\donuts.jpg" alt="">
    </div>
  </div>

  <div class="row p-4 my-5">
    <div class="col-4 p-2 contenedor-imagen">
      <img class="img-fluid" src="assets\images\gallery\by-season\san-valentin-1.jpg" alt="">
    </div>
    <div class="col-8 p-2">
      <h2>
        ¡Únete a nosotros en este dulce viaje!
      </h2>
      <p>
        Si buscas una pastelería que te sorprenda con su creatividad y te deleite con sus sabores, Happy Nibble es el
        lugar perfecto para ti. Visítanos en [Dirección] o contáctanos a través de nuestras redes sociales.
      </p>
      <p>
        <!-- Boton de contactanos -->
        [Incluir aquí tus redes sociales y un llamado a la acción, como un descuento por primera compra o un sorteo de un
        pastel personalizado]
      </p>
    </div>
  </div>
</div>