.our-story {
    height: 350px;
}

.contenedor-imagen {
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que se desborde */
}

.contenedor-imagen img {
    height: 80%; 
    object-fit: cover; 
    object-position: bottom right;
}

.valores {
    height: 600px;
}