.contenedor-imagen {
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
  }
  
  .contenedor-imagen img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }