<!-- <h2>Sobre Nosotros</h2> -->

<div class="row">
    <div class="col-6">
        
        <p>
            Happy Nibble nació en la Ciudad de México en el año 2021. Desde sus inicios, esta pastelería se ha dedicado a endulzar los momentos más especiales de sus clientes, convirtiendo cada creación en una obra de arte comestible.
        </p>
        <p>
            Nuestra historia comienza con la pasión de nuestra chef Viry Bernal por la pastelería creativa. El fondant, con su versatilidad y capacidad para transformarse en cualquier forma imaginable, se convirtió en nuestro lienzo. Desde delicadas flores hasta intrincados personajes, nuestras manos han dado vida a diseños únicos y personalizados.
        </p>

    </div>
    <div class="contenedor-imagen col-6">
        <img src="assets/images/error/broken-image1.jpg" alt="broken-image">
    </div>
</div>