

h1{
    font-family: var(--secondary-font);
}


.info-space {
    border: 2px solid red;
    border-radius: 25px;
}

.form-space {
    border: 2px solid blue;
    border-radius: 25px;
}